@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font: 16px '맑은 고딕';
}

ul,
ol {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 26px;
    font-weight: normal;
}

h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: rgb(35, 35, 179);
}

h3 {
    font-size: 18px;
    font-weight: normal;
}

p {
    font-size: 16px;
}

header,
nav,
aside,
main,
article,
section,
footer {
    display: block;
}

input,
textarea {
    font: 16px '맑은고딕';
    color: rgb(35, 35, 179);
}

::-webkit-input-placeholder {
    color: rgb(35, 35, 179);
}
